*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*target*
hs_err_pid*
*tags
sh.exe.stackdump
.DS_Store
*.settings
*.classpath
target
*.project
*.swp
*.log
*~
*.idea
*.iml
*.ipr
*.iws
*.snap
*.resources
*.dat
*.xmi
*.index
*.metadata
*Servers
MainTest.java
*system-dev.properties
