<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petgang.dao.user.UserMapper">
    <resultMap type="com.petgang.model.user.User" id="all_field">
        <id property="id" column="pk_user"/>
        <result property="age" column="age"/>
        <result property="nickName" column="nick_name"/>
        <result property="faceUrl" column="face_url"/>
        <result property="password" column="password"/>
        <result property="passport" column="passport"/>
        <result property="tel" column="tel"/>
        <result property="city" column="city"/>
        <result property="gender" column="gender"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    
    <select id="select" resultMap="all_field">
        select * from t_user
    </select>
    
    <insert id="insertNewUser" parameterType="com.petgang.model.user.User" keyProperty="id" useGeneratedKeys="true">
        insert into t_user(nick_name,face_url,password,passport,tel) values(#{nickName},#{faceUrl},#{password},#{passport},#{tel})
    </insert>
    
    <select id="selectByUserId" resultMap="all_field">
        select * from t_user where pk_user=#{userId}
    </select>
    
    <update id="updateNickName">
         update t_user set nick_name=#{nickName} where pk_user=#{userId}
    </update>
    <update id="updateFaceUrl">
         update t_user set face_url=#{faceUrl} where pk_user=#{userId}
    </update>
    <update id="updateGender">
         update t_user set gender=#{gender} where pk_user=#{userId}
    </update>
</mapper>